@font-face {
	font-family: corbert;
	src: url('corbert.otf');
}

body {
	font-family: corbert;
	background: #eee;
	text-align: center;
}

.no-overflow {
	overflow-x: hidden;
}

.about, .recruitment {
	background-size: cover;
	background: #ccc;
}

a:hover {
	text-decoration: none;
}

.box {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	margin-bottom: 10px;
	left: 50%;
}

.comm, .mtw {
	margin-left: 10px;
}

.bbbs, .rfl {
	margin-left: -150px;
}

.gotb, .tgb {
	margin-left: -460px;
}

.gotb {
	background-image: url(images/gontb.png);
}

.gotb:hover {
	background-image: url(images/gotb1.png);
}

.bbbs {
	background-image: url(images/bbbs.png);
}

.bbbs:hover {
	background-image: url(images/bbbs1.png);
}

.rfl {
	background-image: url(images/rfl.png);
}

.rfl:hover {
	background-image: url(images/rfl1.png);
}

.tgb {
	background-image: url(images/tgb.png);
}

.tgb:hover {
	background-image: url(images/tgb1.png);
}

.comm {
	background-image: url(images/comm.png);
}

.comm:hover {
	background-image: url(images/comm1.png);
}

.mtw {
	background-image: url(images/mtw.png);
}

.mtw:hover {
	background-image: url(images/mtw1.png);
}

.new, .about, .philanthropy, .recruitment, .brothers {
	padding: 75px 80px 80px 75px;
}

.new {
	padding-top: 150px;
}

.header {
	background: #fff;
	padding-bottom: 30px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.logo {
	position: absolute;
	left: 50%;
	width: 250px;
	height: 100px;
	margin-left: -125px;
}

.crest {
	position: absolute;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	border-bottom: 30px white;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
}

.nav {
	padding-top: 100px;
	text-align: center;
	padding-right: 40px;
}

.nav ul li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}

.cycle {
	background-size: cover;
	background-image: url(images/brothers.png);
	background-repeat: no-repeat;
	background-position: top center;
	z-index: -1;
}

p {
	padding-top: 10px;
	color: black;
}

.media a:hover > p {
	color: #337ab7;
}

.panel-footer {
	background-color: white;
}

#gotbBox, #tgbBox, #bbbsBox, #commBox, #rflBox, #mtwBox {
	display: none;
	position: absolute;
	z-index: 9999;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	text-align: left;
	padding: 5px;
}